.btn {
    font-weight: var(--font-weight-bold);
    width: 100px;
    /* height: 30px; */
    line-height: 30px; 
    padding: 0.5rem 1rem;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--btn-color-primary);
    color: var(--color-text-inverse);
}

.btn-ghost {
    background-color: transparent;
    color: var(--color-text);
    border: 1px solid var(--color-primary);
}
