.btn {
    font-weight: var(--font-weight-bold);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-text-inverse);
}

.btn-ghost {
    background-color: transparent;
    color: var(--color-text);
    border: 1px solid var(--color-border);
}
